ujson
scikit-learn>=0.19.2
scikit-image

# dependency for coremltools
coremltools>=5.0b4

# dependency for MSCOCO dataset
pycocotools

# dependency for reading and writing images
opencv-contrib-python

# dependency for cityscape evaluation
cityscapesscripts

# added as a dependency to reproduce 3rd party models
pytorchvideo

# PyAV for video decoding
av

# FVCore for FLOP calculation
fvcore

# black for reformatting
black
